@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Noto+Sans&family=Orbitron&family=Raleway:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.header{
    width: 100%;
    line-height: 90px;
    background-color: #f5ba13;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
    color: white ;
    box-shadow: 5px 3px 15px -5px;
 }
 .header h1{
     text-shadow: 2px 6px 10px #737370;
 }
 .header img{
     width: 50px;
     height: 50px;
 }

 .main_note{
     width: 450px;
     padding: 15px 10px 5px 10px;
     margin: 0px auto;
 }

 .my_notes h1{
     color: #34495e;
 }

 .my_notes p{
     color: grey;
 }


 form{
     min-height: 50px;
     color: #ecf0f1;
     padding: 15px 10px 5px 10px;
     box-shadow: 0 2px 15px -2px #ccc;
     border-radius: 10px;
     position: relative;

 }

 input{
     width: 100%;
     line-height: 30px;
     background: transparent;
     border: none;
     outline: none;
     font-size: 1.5rem;
     margin: 10px 0;
     font-weight: bold;
     text-transform: capitalize;


 }

 textarea{
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    margin: 10px 0;

 }
 .MuiButton_root{
     width: 30px;
     height: 50px;
     position: absolute;
     bottom: -25px;
     left: 350px;
     cursor: pointer;
     border-radius: 50% !important;
     box-shadow: 0px 12px 16px -4px  rgba(0, 0, 0, 0.2);
     background-color: #fff !important;

 }

 .MuiButton_root .plus_sign{
     font-size: 45px !important;
     font-weight: 900;
     color: #f4b400;
     cursor: pointer;
     z-index: 222;
     background: transparent;

 }

 .MuiButton_root:hover{
     background-color: #f4b400 !important;
 }


 .MuiButton_root:hover .plus_sign{
     color: #fff;
     background: transparent;
 }


 .note{
     background: transparent;
     border-radius: 7px;
     box-shadow: 0 2px 15px -2px #ccc;
     padding: 10px;
     width: 240px;
     margin: 40px;
     float: left;
 }

 .note h1{
     font-size: 1.1rem;
     margin-bottom: 6px;

 }

 .note p {
     font-size: 1.1rem;
     margin-bottom: 10px;
     white-space: pre-wrap;
     word-wrap: break-word;
 }

 .note .btn{
     position: relative;
     float: right;
     margin-right: 0px;
     color: #f4b400;
     border: none;
     border-radius: 50%;
     width: 63px;
     height: 50px;
     background: transparent;
     cursor: pointer;
     outline: none;
     box-shadow: 3px 3px 15px -10px rgba(0,0,0,0.6);
 }

.deleteIcon{
    width: 0.7em;
    height: 0.7em;

}

.note .btn:hover{
    background-color: #f5ba13;
    

}

.note .btn:hover .deleteIcon{
    color: #fff;

}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 10px;


}