*{
    margin: 0;
    padding: 0;

}
#mdiv{
    display: flex;
   
}

#clockContainer{
    margin: auto;
    height: 40vw;
    width: 40vw;
    /* border: 2px solid red; */
    position: relative;
    background: url(clock.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom ;
}

#hour{
    width: 2%;
    height: 29%;
    top: 20.7%;
    left: 48.8%;
    opacity: 1;
    /* display: none; */
}




#minute{
    width: 1.3%;
    height: 36%;
    top: 15%;
    left: 49.2%;
    /* display: none; */
    opacity: 0.4;
}


#second{
    width: 0.8%;
    height: 40%;
    top: 11%;
    left: 49.4%;
    /* display: none; */
    opacity: 0.7;
}