@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat&family=Mulish&family=Noto+Sans&family=Nunito:wght@200&family=Orbitron&family=Raleway:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.logo{
    width: 300px;
    height: 200px;
}

img.logo {
    margin-top: -40px;
    margin-left: -50px;
    margin-bottom: -40px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #fff !important;
}

.navbar a:hover{
    color: #3498db !important;
}

.navbar a{
    /* font-weight: bold; */
    font-size: 1.2rem;

}

.navbar a:hover{
    color: #3498db !important;
    font-weight: bold !important;
    border-bottom: 1px solid #3498db !important;
    
}

a.navbar-brand {
    font-size: 1.9rem !important;
    color: #565387 !important;
}


#royal{
    padding-top: 40px !important;
}
#my-3{
    font-size: 1.3rem !important;
    color: gray;
}

.brand-name{
    color: #3498db;
}